<!-- {% for row in personas %} -->
<center>

    <div class="container">
        <div class="container card">
            
    
            <div class="row">
                
                <div class="col">
                   
                </div>
    
                <div class="col col-2 bg-danger ">
                    
                    <div class="text-end text-light fs-4">
                        {{total}}
                    </div>
                    <div class="text-end text-light">
                        Productos comprados
                    </div>
                    
                    
                    
                </div>
            </div>
            
        </div>
    </div>

    <div class="container">
        <div class="card">
            reserva 1 ...
        </div>
    </div>
    <!-- <form method="post" action="/actualizar/{{row[0]}}" enctype="multipart/form-data">
        
        
        <br>
        <div class="row">
            <div class="col-4">
                #:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[0]}}" name="txtId" id="txtId" disabled >
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Nombre:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[2]}}" name="txtNombre" id="txtNombre">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Dirreccion:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[3]}}" name="txtDireccion" id="txtDireccion">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-4">
                Telefono:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[4]}}" name="txtTelefono" id="txtTelefono">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Email:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[5]}}" name="txtEmail" id="txtEmail">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Contrasenia:
            </div>
            <div class="col-5">
                <input type="text" value="{{row[6]}}" name="txtClave1" id="txtClave1">
            </div>
        </div>
        
        
        <br>
         <br>
        <input class="btn btn-success " type="submit" value="Actualizar">
        <br>
        
    </form> -->


</center>


<!-- {% endfor %} -->