<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/register.css">
</head>

<body>


    
    <div class="container">
        <div class="form-register">
            <h1 class="tittle">Registro</h1>
            <br>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}

                    </div>

                {% endif %}

            {% endwith %}
            <br>
            <form class="" action="/registrar" method="POST">
               <label for="">Nombre:</label><br> 
                <input class="input" type="text" id="txtNombre" name="txtNombre" placeholder="Nombre" value="{{name}}"><br>
            <label for="">Direccion:</label><br> 
                <input class="input" type="text" id="txtDireccion" name="txtDireccion" placeholder="Direccion" value="{{dir}}"><br>
                 <label for="">Telefono:</label><br> 
                <input class="input" type="text" id="txtTelefono" name="txtTelefono" placeholder="Telefono" value="{{telf}}"><br>
                 <label for="">Email:</label><br> 
                <input class="input" type="text" id="txtEmail" name="txtEmail" placeholder="Email" value="{{email}}"><br>
               <label for="">Contraseña:</label><br> 
                <input class="input" type="password" id="txtClave1" name="txtClave1" placeholder="Contraseña" value="{{clave1}}"><br>
                 <label for="">Repita la contraseña:</label><br> 
                <input class="input" type="password" id="txtClave2" name="txtClave2" placeholder="Repita la contraseña" value="{{clav2}}"><br>
                 <p>Al registrate aceptas los Terminos y Condiciones </p> 
                <button type="submit" class="botons">Registrarse</button>
                <p>¿Ya tiene cuenta? <a href="./">Ingresar</a></p>

            </form>

        </div>
    </div>
</body>
</html>
    